<header class="header">
	<div class="header__title" ng-click="goToHome()">Настройки жратвы</div>

	<div class="header__user">
		<div class="dropdown user-account__menu">
			<a class="sidebar__select" href="#" data-toggle="dropdown">
				{{_profile.firstName}} {{_profile.lastName}}
			</a>
			<span class="caret"></span>
			<ul class="dropdown-menu">
			    <li><a href="/user/settings">Настройки админа</a></li>
			    <li><a href="#" ng-click="logout()">Выйти</a></li>
			</ul>
		</div>
	</div>
</header>

<div class="row content">
	<div class="col-md content-col">
		<div class="dashboard">

			<div class="tabs">
				<tabset justified="true">
					<tab heading="Ингредиенты">
						<div class="dashboard__content">
							<div my-lights ng-controller="IngredientsCtrl"></div>
						</div>
					</tab>
					<!--tab heading="Schedules">
						<div class="dashboard__content">
							<div my-scheduler ng-controller="SchedulerCtrl"></div>
						</div>
					</tab-->
				</tabset>
			</div>
		</div>
	</div>
</div>
