<header class="header">
	<div class="header__title" ng-click="goToHome()">dlux_console</div>

	<div class="header__user">
		<div class="dropdown user-account__menu">
			<a class="sidebar__select" href="#" data-toggle="dropdown">
				{{_profile.firstName}} {{_profile.lastName}}
			</a>
			<span class="caret"></span>
			<ul class="dropdown-menu">
			    <li><a href="#">account settings</a></li>
			    <li><a href="/logout">log out</a></li>
			</ul>
		</div>
	</div>

	<div class="header__help">
		<a href="mailto:kolya.p@speedandfunction.com">get help</a>
	</div>
</header>

<div class="row content">
	<div class="settings__title">
		Account Settings
	</div>

	<div class="settings__wrapper">
		<div class="row">
			<div class="col-md-2 content-col"><b>First Name</b></div>
			<div class="col-md-8 content-col">
				{{_profile.firstName}}
				<div class="dropdown">
					<a href="#" data-toggle="dropdown"class="change change__firstName">
						change
					</a>
					<span class="caret"></span>
					<div class="dropdown-menu">
					    <div class="form-group">
					      	<input type="text" name="firstName" placeholder="New name" ng-model="_profile.firstName" class="form-control" required>
					    </div>
					   	<div class="form-group">
						    <button type="button" class="btn btn-info" ng-click="change('firstName')">
					    		Save
					    	</button>
						    <button type="button" class="btn btn-default" ng-click="">
					    		Cancel
					    	</button>
					    </div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 content-col"><b>Last Name</b></div>
			<div class="col-md-8 content-col">
				{{_profile.lastName}}
				<div class="dropdown">
					<a href="#" data-toggle="dropdown"class="change change__last-name">
						change
					</a>
					<span class="caret"></span>
					<div class="dropdown-menu">
					    <div class="form-group">
					      	<input type="text" name="lastName" placeholder="New last name" ng-model="_profile.lastName" class="form-control" required>
					    </div>
					   	<div class="form-group">
						    <button type="button" class="btn btn-info" ng-click="change('lastName')">
					    		Save
					    	</button>
						    <button type="button" class="btn btn-default" ng-click="">
					    		Cancel
					    	</button>
					    </div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 content-col"><b>Email</b></div>
			<div class="col-md-8 content-col">
				{{_profile.email}}

				<div class="dropdown">
					<a href="#" data-toggle="dropdown"class="change change__email">
						change
					</a>
					<span class="caret"></span>
					<div class="dropdown-menu dropdown-menu__email">
					    <div class="form-group">
					      	<input type="text" name="email" placeholder="New email" ng-model="_profile.email" class="form-control" required>
					    </div>
					   	<div class="form-group">
						    <button type="button" class="btn btn-info" ng-click="change('email')">
					    		Save
					    	</button>
						    <button type="button" class="btn btn-default" ng-click="">
					    		Cancel
					    	</button>
					    </div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 content-col"><b>Phone number</b></div>
			<div class="col-md-8 content-col">
				{{_profile.phoneNumber}}
				<div class="dropdown">
					<a href="#" data-toggle="dropdown"class="change change__phoneNumber">
						change
					</a>
					<span class="caret"></span>
					<div class="dropdown-menu">
					    <div class="form-group">
					      	<input type="text" name="phone" placeholder="New phone number" ng-model="_profile.phoneNumber" class="form-control" required>
					    </div>
					   	<div class="form-group">
						    <button type="button" class="btn btn-info" ng-click="change('phoneNumber')">
					    		Save
					    	</button>
						    <button type="button" class="btn btn-default" ng-click="">
					    		Cancel
					    	</button>
					    </div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 content-col"><b>Password</b></div>
			<div class="col-md-8 content-col">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown"class="change-clear change change__password">
						change
					</a>
					<span class="caret"></span>
					<div class="dropdown-menu">
					    <div class="form-group">
					      	<input type="password" name="oldpass" ng-model="_profile.newpass" placeholder="New password" class="form-control" required>
					    </div>
					    <div class="form-group">
					      	<input type="password" name="newpassconfirm" ng-model="_profile.newpassconfirm" placeholder="Confirm" class="form-control" required>
				      	</div>
					   	<div class="form-group">
						    <button type="button" class="btn btn-info" ng-click="change('password')">
					    		Save
					    	</button>
						    <button type="button" class="btn btn-default" ng-click="">
					    		Cancel
					    	</button>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>