.paginator 
{
	height: 40px;

    margin-bottom: 25px;
}

.paginator__disabled
{
    pointer-events: none;
    opacity: 0.5;
}

.paginator .paginator-wrapper
{
	list-style-type: none;
    text-align: center;
}

.paginator .paginator-tem
{
    display: inline-block;
}

.paginator-item__pseudo-link
{
    display: inline-block;
    
    padding: 10px;
    margin: 1px;

    width: 20px;
    height: 20px;

    text-align: center;
    vertical-align: middle;
    background-color: #EEE;
    text-decoration: none;
    color: #000;
}

.paginator-item__pseudo-link:hover
{
    background-color: #CCC;
}

.paginator-item__pseudo-link span
{
    line-height: 22px;
}

.paginator-current
{
    outline: 2px solid #E2DFDF;
}

.paginator-current .paginator-item__pseudo-link
{
    background-color: #CCC9C9;
}

